@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #121212; /*#121212 */
    color: white;
}
#logo {
  transition: background-color .4s ease-in-out 
}
#logo:hover {
  background-color: #121212;
}

.dropdown-menu {
  position: absolute;
  left: 0;
  top: calc(100% + 1rem);
  padding: .75rem;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}
.dropdown {
  position: relative;
}
.friendly-box {
  position: absolute;
  cursor: default;
  height: 3rem;
  opacity: 0;
  inset-inline-start: 0%;
  inset-block-start: 110%;
  background-color: #acb2b8;
}
.friendly-box-top {
  width: 4.3rem;
  inset-block-start: 2rem;
}
.friendly-box-wide-adjust {
  width: 8rem;
  inset-inline-end: 10rem;
  left: -30px;
}
.dropdown:hover > .dropdown-menu,
.friendly-box:hover + .dropdown-menu {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}
.dropdown:hover > .account-name {
  color: azure;
}
.dropdown-btn {
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}
.dropdown-btn {
  color: #aaaaae;
  padding: 0.5rem;
  width: 7rem;
  text-align: left;
  border-radius: 6px;
  margin-bottom: 0.5rem;
}

.logout-icon {
  margin-left: 1rem;
  margin-top: 2px;
}
.logout-icon::after {
  content: url(https://res.cloudinary.com/dfo61m8dy/image/upload/v1704814246/arrow-right-to-bracket-solid_dfz5d2.svg);
  opacity: 0;
  filter: invert(100%) sepia(93%) saturate(220%) hue-rotate(295deg) brightness(109%) contrast(101%);
}
.dropdown-logout-btn:hover > .logout-icon::after {
  opacity: 1;
}
.dropdown-btn:hover {
  padding-left: 0.8rem;
  background-color: #2C2D2F;
  color: azure;
}

.bb_çul{
  color: #acb2b8;
  margin-left: 16px;
  list-style-type: square;
}

.slick {
    line-height: 0;
    position: absolute;
    top: 50%;
    width: 20px;
    height: 20px;
    padding: 0;
    transform: translate(0, -50%);
    cursor: pointer;
    color: white;
    border: none;
    outline: none;
}
.lottie {
  display: none;
  height: 50px;
  width: 100%;
}
.lottie-dlc {
  display: none;
  height: 45px;
  width: 100%;
}
.loading .cart-text {
  display: none;
}
.loading > .lottie {
  display: flex;
}
.loading > .lottie-dlc {
  display: flex;
}
  
h2.bb_tag {
    margin-top: 18px;
    margin-bottom: 0px;
    background-image: none;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-transform: none;
    letter-spacing: 0px;
}

.swiper-container {
  width: 100%;
  height: 100vh;
  max-width: 100px;
  margin: 0 auto;
  
}
.swiper_slide {
    max-width: 900px;
    height: 533px;
    user-select: none;
}
.swiper_slide_category {
  height: 100%;
  width: 1050px;
}
.swiper-button-next, .swiper-button-prev {
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}
.swiper_slide:hover > .swiper-button-prev{
  left: var(--swiper-navigation-sides-offset, 20px);
  opacity: 1
}
.swiper_slide:hover > .swiper-button-next{
  right: var(--swiper-navigation-sides-offset, 30px);
  opacity: 1
}
.swiper_slide .swiper-button-prev{
  left: var(--swiper-navigation-sides-offset, 50px);
  opacity: 0
}
.swiper_slide .swiper-button-next{
  right: var(--swiper-navigation-sides-offset, 60px);
  opacity: 0
}

.swiper_slide
.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  opacity: 1;
  cursor: auto;
  pointer-events: none;
}
.button {
  color: aquamarine;
  
}
.next-btn {
  transition: transform 0.5s ease-in-out;
}
.info-container {
  -webkit-backdrop-filter: blur(20px);
  backdrop-filter: blur(20px);
}
.main-container:hover + .next-btn {
  transform: translateX(-100px)
}r
.main-container, .next-btn {
  color: aquamarine;
  transition: transform 0.5s ease-in-out;
}

.backgroundoverlay {
  position: absolute;
  background-position-x: center;
  width: 100%;
  height: 750px;
  object-fit: cover;
  background-repeat: no-repeat;
  /* -webkit-mask-image: 
  linear-gradient(180deg, black 58%, rgba(0, 0, 0, 0) 95%),
  radial-gradient(15.77% 44.22% at 50% 104.95%, rgba(66, 66, 66, 0) 0%, #333333 100%),
  radial-gradient(30.95% 86.8% at 30.69% 13.2%, rgba(66, 66, 66, 0.33) 0%, #333333 100%),
  radial-gradient(51.31% 143.89% at 49.99% 24.75%, #000000 0%, #000000 52.6%, rgba(0, 0, 0, 0.18) 83.33%, rgba(0, 0, 0, 0) 95.31%),
  radial-gradient(51.31% 143.89% at 49.99% 24.75%, #000000 0%, #000000 52.6%, rgba(0, 0, 0, 0.18) 83.33%, rgba(0, 0, 0, 0) 95.31%),
  linear-gradient(180deg, #000000 90%, rgba(0, 0, 0, 0) 100%); */
  -webkit-mask-image: 
    linear-gradient(180deg, black 58%, rgba(0,0,0,0) 95%), 
    radial-gradient(15.77% 44.22% at 50% 104.95%, rgba(66,66,66,0) 0%, #333333 100%),
    radial-gradient(30.95% 86.8% at 30.69% 13.2%, rgba(66, 66, 66, 0.33) 0%, #333333 100%),
    radial-gradient(51.31% 143.89% at 49.99% 24.75%, #000000 0%, #000000 52.6%, rgba(0, 0, 0, 0.18) 83.33%, rgba(0, 0, 0, 0) 95.31%),
    radial-gradient(51.31% 143.89% at 49.99% 24.75%, #000000 0%, #000000 52.6%, rgba(0, 0, 0, 0.18) 83.33%, rgba(0, 0, 0, 0) 95.31%),
    linear-gradient(180deg, #000000 90%, rgba(0, 0, 0, 0) 100%);
  mask-image: 
    linear-gradient(180deg, black 58%, rgba(0,0,0,0) 95%), 
    radial-gradient(15.77% 44.22% at 50% 104.95%, rgba(66,66,66,0) 0%, #333333 100%),
    radial-gradient(30.95% 86.8% at 30.69% 13.2%, rgba(66, 66, 66, 0.33) 0%, #333333 100%),
    radial-gradient(51.31% 143.89% at 49.99% 24.75%, #000000 0%, #000000 52.6%, rgba(0, 0, 0, 0.18) 83.33%, rgba(0, 0, 0, 0) 95.31%),
    radial-gradient(51.31% 143.89% at 49.99% 24.75%, #000000 0%, #000000 52.6%, rgba(0, 0, 0, 0.18) 83.33%, rgba(0, 0, 0, 0) 95.31%),
    linear-gradient(180deg, #000000 90%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-composite: source-in;
  transition: background-image .1s ease-out;
}


